<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="CONSOLE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight([%-3level]) %logger{5} - %msg %n" />

    <!-- Console appender 설정 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${CONSOLE_PATTERN}</Pattern>
        </encoder>
    </appender>

    <appender name="fluentd" class="ch.qos.logback.more.appenders.DataFluentAppender">
        <tag>applog</tag>
        <label>logback</label>
        <remoteHost>fluentd</remoteHost>
        <port>24224</port>

<!--        <additionalField>-->
<!--            <key>foo</key>-->
<!--            <value>bar</value>-->
<!--        </additionalField>-->
<!--        <additionalField>-->
<!--            <key>foo2</key>-->
<!--            <value>bar2</value>-->
<!--        </additionalField>-->

<!--        &lt;!&ndash; [Optional] Configurations to customize Fluent-logger-java's behavior &ndash;&gt;-->
<!--        <bufferCapacity>16777216</bufferCapacity> &lt;!&ndash; in bytes &ndash;&gt;-->
<!--        <timeout>10000</timeout> &lt;!&ndash; in milliseconds &ndash;&gt;-->

<!--        &lt;!&ndash;  [Optional] If true, Map Marker is expanded instead of nesting in the marker name &ndash;&gt;-->
<!--        <flattenMapMarker>false</flattenMapMarker>-->
<!--        &lt;!&ndash;  [Optional] default "marker" &ndash;&gt;-->
<!--        <markerPrefix></markerPrefix>-->

<!--        &lt;!&ndash; [Optional] Message encoder if you want to customize message &ndash;&gt;-->
<!--        <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--            <Pattern>-->
<!--                %d{yyyy-MM-dd HH:mm:ss, ${projectTimeZone}} [%X{X-B3-TraceId:-}, %X{X-B3-SpanId:-}] [%X{requestURL}] [%thread] %-5level %logger{36} - %msg %n-->
<!--            </Pattern>-->
<!--        </layout>-->

<!--        &lt;!&ndash; [Optional] Message field key name. Default: "message" &ndash;&gt;-->
<!--        <messageFieldKeyName>msg</messageFieldKeyName>-->
    </appender>

    <appender name="async" class="ch.qos.logback.classic.AsyncAppender">
        <!-- Logback의 AsyncAppender 옵션 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <param name="includeCallerData" value="false"/>
        <param name="queueSize" value="2048"/>
        <param name="neverBlock" value="true"/>
        <param name="maxFlushTime" value="5000"/>
        <appender-ref ref="fluentd" />
    </appender>

    <logger name="jdbc" level="OFF" additive="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="jdbc.sqlonly" level="DEBUG" additive="false" >
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="jdbc.sqltiming" level="OFF" additive="false" >
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.hibernate.SQL" level="DEBUG" additive="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.example.todolist.controller" level="DEBUG" additive="false" >
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.example.todolist.service" level="DEBUG" additive="false" >
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.example.todolist.domain" level="DEBUG" additive="false" >
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>